.div-01{
    width: 300px; 
    height: 300px;
    background-color:#fcf047
}

.div-02{
    width: 30%; 
    height: 30%;
    background-color:#5280ff
}

.p-01{
    background-color:rgb(89, 0, 255); 
    color: white; 
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;  
    font-weight: bold"
}

.div-03{
    height: 80vw;
    width: 80%;
    background-color:rgb(111, 109, 255)
}

.div-04{
    height: 40%;
    width: 80vw;
    background-color: rgb(151, 7, 154)
}